.layout-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 1200px;

  .tubiao{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
    // border-bottom: 1px solid rgba(247, 238, 238, 0.9); 
    .icon{
      flex: 15%;
      height: 50px;
      margin: 10px;
      background-color: rgba(0,0,0,.6);
      border-radius: 4px;
      line-height: 50px;
      text-align: center;
      color: #fff;
      cursor: pointer;
      .iconfont{
        font-size: 20px;
      }
    }
    .icon:hover{
      color: #00ACAC;
    }

  }
  .tabout{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 999;
    right: 10px;
    top:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
    .iconfont{
      font-size: 40px;
    }
    .tabi{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #eee;
      box-shadow: 0 0 15px #fff;
    }
  }
  .tabout:hover{
    background-color: rgba(0,0,0,.3);
  }

}
.layout-container .header {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  .header_left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .bigBox{
      width: 30px;
      height: 30px;
      position: relative;
      left: 0;right: 0;
      top: 0;bottom: 0;
      margin: auto;
      margin-left: 100px;
      transform-style: preserve-3d;
      // transform: rotateX(-20deg) rotateY(30deg);
      /* 
        这个3d盒子与spin动画绑定
        就是说给这个.bigBox的盒子添加动画spin
      */
      animation: spin 5s  infinite  linear;
    }
    .bigBox div{
        width: 30px;
        height: 30px;
        font-size: 50px;
        line-height: 100px;
        text-align: center;
        position: absolute;
        left: 0;top:0;
        opacity: 0.5;
    }
    /* 把每个s_box的移到相对应的盒子面,并设置好角度 */
    .s_box1{
        background-color: purple;
        transform: translateX(15px) rotateY(90deg);
      
    }
    .s_box2{
        background-color: skyblue;
        transform: translateX(-15px) rotateY(-90deg);
      
    }
    .s_box3{
        background-color: olive;
        transform: translateY(-15px) rotateX(-90deg);
      
    }
    .s_box4{
        background-color: rgb(60, 15, 223);
        transform: translateY(15px) rotateX(-90deg);
        
    }
    .s_box5{
        background-color: rgb(241, 121, 9);
        transform: translateZ(15px);
    }
    .s_box6{
        background-color: rgb(248, 16, 16);
        transform: translateZ(15px) rotateY(180deg);
    }
    /* 创建动画 */
    @keyframes spin{
        0%{
            transform: rotateX(-15deg) rotateY(0deg) ;
        }
        25%{
            
            transform: rotateX(-20deg) rotateY(180deg) ;
        }
        50%{
            transform: rotateX(-20deg) rotateY(360deg) ;
        }
        75%{
            transform: rotateX(-20deg) rotateY(540deg) ;
        }
        100%{
            transform: rotateX(-20deg) rotateY(720deg) ;
        }
    }
    // /* 鼠标悬停3D盒子的时候，暂停动画 */
    .bigBox:hover{
        // animation-play-state:paused;
        cursor: pointer;
    }
  }
  .header_right{
    width: 50%;
    height: 100%;
    // background-color: pink;
    position: relative;
    .exprand{
      position: absolute;
      right: 170px;
      top: 20px;
    }
    .el-drop1{
      position: absolute;
      right: 80px;
      top: 20px;  
    }
    .el-drop2{
      position: absolute;
      right: 0px;
      top: 5px;
      img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    .avatar-wrap {
      display: flex; 
      align-items: center;
      height: 50px;
    }
  }
}



.el-container{
  height: calc(100vh - 60px);
  .scroll_left{
    height: 100%;
    .el-menu{
      border: none;
      .icbg{
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 20%;
        margin-right: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        
      }
      .iconfont{
        color: #fff;
      }
    }
  }
  .el_aside{
    height: calc(100vh - 60px);
    background-color:#222;
  }
  .conta{
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #eee
  }
}
.nav_position{
  flex-direction: row-reverse;
}
.el-container .nav-menu {
    height: 100%;
}
.el-container .nav-menu .iconfont {
      margin-right: 10px;
      // padding-left: 5px;
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 20%;
      margin-right: 10px;
      background-color: rgba(0, 0, 0, 0.1);
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}
.el-main{
  background-color: #eee;
  // height: 100%;
}
.el-scrollbar__wrap {
	overflow-x: auto;
}

